.ant-layout-header{
    background: #8B0000 !important;
  }
  .ant-menu-horizontal{
    background: #8B0000 !important;
    border-bottom:#8B0000 !important;
  }
  ::selection{
    background: black !important;
  }
  .ant-menu{
    color: #fff !important;
    font-weight:600;
  }
  #components-layout-demo-fixed .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
  }
  .site-layout .site-layout-background {
    background: #fff;
  }
  .site-layout{
    background-color: gainsboro;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }